---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<div class="container">
			<Header />
			<main>
				<article class="post">
					<div class="post-meta">
						<span><FormattedDate date={pubDate} /></span>
						{
							updatedDate && (
								<span>
									Updated <FormattedDate date={updatedDate} />
								</span>
							)
						}
					</div>
					<h1 class="post-title">{title}</h1>
					{heroImage && (
						<div class="post-cover">
							<Image width={1020} height={510} src={heroImage} alt="" />
						</div>
					)}
					<div class="post-content">
						<slot />
					</div>
				</article>
			</main>
			<Footer />
		</div>
	</body>
</html>
<style>
	main {
		flex: 1;
	}

	.post {
		width: 100%;
		text-align: left;
		padding: 30px 0;
	}

	.post-meta {
		font-size: inherit;
		margin-bottom: 10px;
		color: var(--muted);
	}

	.post-meta > *:not(:first-child)::before {
		content: '::';
		display: inline-block;
		margin: 0 8px;
	}

	.post-title {
		position: relative;
		color: var(--accent);
		margin-top: 0 !important;
		margin-bottom: 15px !important;
		padding-bottom: 15px;
		border-bottom: 3px dotted var(--accent);
	}

	.post-title::after {
		content: '';
		position: absolute;
		bottom: 2px;
		display: block;
		width: 100%;
		border-bottom: 3px dotted var(--accent);
	}

	.post-cover {
		margin: 25px 0;
	}

	.post-content {
		margin-top: 25px;
	}

	@media (max-width: 684px) {
		.post-cover {
			padding: 10px;
			border-width: 10px;
		}
	}
</style>
